&gpio1 {
    status = "okay";
};

/ {
    cirque_pinnacle_i2c {
        glidepoint {
            // P1.01 on my board
            dr-gpios = <&gpio1 1 (GPIO_ACTIVE_HIGH)>;

            sensitivity = "3x";
            x-invert;
            rotate-90;
            sleep;
        };
    };
};
