/* See: https://zmk.dev/docs/development/hardware-integration/pointing?part-type=peripheral#peripheral-configuration-1 */

#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/ {
    glidepoint_listener {
        compatible = "zmk,input-listener";
        input-processors = <&zip_xy_scaler 3 2>;

        scroller {
            layers = <1>;
            input-processors = <&zip_xy_to_scroll_mapper>;
            process-next;
        };
    };
};
