&gpio1 {
    status = "okay";
};

&glidepoint {
    compatible = "cirque,pinnacle";
    status = "okay";

    // P1.01 on my board
    //dr-gpios = <&gpio1 1 (GPIO_ACTIVE_HIGH)>;
    //dr-gpios = <&pro_micro 1 (GPIO_ACTIVE_HIGH)>;

    // rotate-90;
    sensitivity = "2x";
    x-invert;

    // trackpad is only working when powered by USB.
    // it might be the sleep code
    /delete-property/ sleep;

    //x-axis-z-min = <2>;
    //y-axis-z-min = <4>;
};
